# Python
__pycache__/
*.pyc
*.pyo

# Virtual Env
venv/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw_videos/
data/audio/
data/transcripts/
data/processed/
data/enriched

# Models
models/

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# Environment
.env